@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/all.min.css" />
    <link rel="stylesheet" href="~/WebLabs_BSUIR_V02.styles.css" asp-appendversion="true" />
</head>
<body>
    <header>
        <div class="container">
            <!-- Панель навигации -->
            <span class="nav-color">Заголовок страницы</span>
        </div><!-- container - конец -->
    </header><!-- header - конец -->
    <main class="container">
        Содержимое страницы
    </main>
    <footer>
        <div class="container">
            <span class="nav-color">Подвал страницы</span>
        </div>
    </footer>
</body>
</html>
