@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var userName = User.Claims.FirstOrDefault(c => c.Type.Equals("Name", StringComparison.OrdinalIgnoreCase))?.Value;
}

<a class="navbar-text ms-auto" asp-area="Cart" asp-action="Index">
    @await Component.InvokeAsync("Cart") руб <i class="fa-solid fa-cart-shopping"></i> (0)
</a>
<div class="dropdown ms-4 nav-color">
    <button class="btn btn-secondary dropdown-toggle"
            type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false">
        @userName
        <img src="https://localhost:7003/avatar" width="30"
             alt="User" class="rounded nav-color" />
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li>
            <span class="dropdown-item-text">
                <img src="https://localhost:7003/avatar"
                     width="50" alt="User" class="rounded" />
                @userName
            </span>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <form method="post" id="logoutForm" class="form-inline">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark" asp-controller="Identity" asp-action="Logout">
                    Logout
                </button>
            </form>
        </li>
    </ul>
</div>