@page
@model WEB_153504_Klimkovich.Areas.Admin.Pages.EditModel

<h4>Electronics</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Electronics.Id" />
            <div class="form-group">
                <label asp-for="Electronics.Name" class="control-label"></label>
                <input asp-for="Electronics.Name" class="form-control" />
                <span asp-validation-for="Electronics.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Electronics.Description" class="control-label"></label>
                <input asp-for="Electronics.Description" class="form-control" />
                <span asp-validation-for="Electronics.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Electronics.CategoryId" class="control-label"></label>
                <select asp-for="Electronics.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="Electronics.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Electronics.Price" class="control-label"></label>
                <input asp-for="Electronics.Price" class="form-control" />
                <span asp-validation-for="Electronics.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Electronics.Image" class="control-label"></label>
                <input asp-for="Electronics.Image" class="form-control" />
                <span asp-validation-for="Electronics.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Electronics.Mime" class="control-label"></label>
                <input asp-for="Electronics.Mime" class="form-control" />
                <span asp-validation-for="Electronics.Mime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
